:root{
    --main-color: #00c9a5;
    --nav-color: #03948d;
    --bg-color: #e8f3f1;
    --black: #2f4858;
    --card-color: #c0dbea;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
    outline: none;
    text-decoration: none;
    text-transform: capitalize;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    transition: all 0.5s ease-in;
}

html{
    font-size: 62.5%;
    overflow-x: hidden;
}

body{
    background-color: var(--bg-color);
}
.btn{
    display: inline-block;
    text-align: center;
    background-color: var(--main-color);
    color: #fff;
    font-size: 1.7rem;
    padding: 0.8rem 2.5rem;
    margin-top: 1rem;
    cursor: pointer;
}
.btn:hover{
    letter-spacing: 0.2rem;
}
.title{
    text-shadow: 2px 2px 0 var(--card-color), -2px -2px 0 var(--card-color), 
     -2px 2px 0 var(--card-color),  2px -2px 0 var(--card-color);
    text-align: center;
    color: #fff;
    text-transform: uppercase;
    padding-bottom: 3.5rem;
    font-size: 4rem;
}
.title span{
    color: var(--main-color);

}

.header{
    background-color: var(--nav-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem 7%;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 16vh;
    /*z-index: 1000; */

}

.header .logo img{
    height: 10rem;
    border-radius: 50%;

}

.header .navbar a{
    color: #fff;
    font-size: 1.8rem;
    margin: 0 1rem;
    
}


.header .navbar a:hover {
    color: var(--black);
    border-top: 0.3rem solid var(--black);
    border-bottom: 0.3rem solid var(--black);
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

.header .icon{
    display: flex;
}

.header .icon div{
    color: #fff;
    cursor: pointer;
    font-size: 2.5rem;
    margin-left: 2rem;
}

.header .icon div:hover{
    color: var(--black);
}

.header .icon .menu-icon{
    display: none;
}

/* search box */

.header .search-form{
    display: flex;
    align-items: center;
    position: absolute;
    top: 115%;
    right: -100%;
    width: 45rem; 
    height: 4.5rem; 
    background-color: #fff;
} 
.header .search-form.active{
     right: 7%;
}

.header .search-form input{
    width: 100%;
    height: 100%;
    padding: 1rem;
    font-size: 1.8rem;
    color: var(--black);
    text-transform: none;
}


.header .search-form label{
    color: var(--black);
    font-size: 2rem;
    padding-right: 1.3rem;
    cursor: pointer;
}
.header .search-form label:hover{
    color: var(--main-color);
}

/* cart section */
.header .cart-items-container{
    position: absolute;
    top: 100%;
    right: -100%;
    width: 35rem;
    background-color: #fff;
    height: 80vh;
    border: solid 1px black;
    padding: 0.8rem;
}

.header .cart-items-container.active{
    right: 0;
} 
.header .cart-items-container .cart-item{
    display: flex;
    align-items: center;
    margin: 2.5rem 0;
    /*border: solid 1px black;*/
    position: relative;
    gap: 1rem;
}
.header .cart-items-container a{
    width: 100%;
}

.header .cart-items-container .cart-item img{
    width: 7rem;

}

.header .cart-items-container .cart-item span {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 1.5rem; /* Adjust size as needed */
    color: var(--black);
    cursor: pointer;
}

.header .cart-items-container .cart-item span:hover{
    color: red;
}
.header .cart-items-container .cart-item .content h3{
    font-size: 1.5rem;
    color: var(--black);
    padding-bottom: 0.8rem;
}
.header .cart-items-container .cart-item .content .price{
    font-size: 1.5rem;
    color: var(--main-color);
}
/* home section starts */
.Home{
   display: flex;
   align-items: center;
   min-height: 100vh;
   margin-top: 16vh; 
   background-color: aqua;
   background-image: url("/Images/cake7.jpg");
   background-repeat: no-repeat;
   background-size: cover;
   background-position: right;
}

.Home .hero{
    width: 60rem;
}
.Home .hero h3{
    font-size: 6rem;
    text-transform: uppercase;
    color: #fff;
}
.Home .hero p{
    font-size: 2rem;
    font-weight: lighter;
    line-height: 3.2rem;
    padding: 1rem 0;
    color: #eee;
} 

/* cake section */
.wrapper{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap: 1.5rem;

}
.cakes .wrapper .cake-card{
    background-color: var(--card-color);
    padding: 3rem 2rem;
    text-align: center;  
}
.cakes .wrapper .cake-card img{
    width: 100%;
}
.cakes .wrapper .cake-card h3{
    color: #fff;
    font-size: 2rem;
    padding: 1rem 0;
}
.cakes .wrapper .cake-card .price{
    color: #fff;
    font-size: 1.5rem;
    padding: 0.5rem 0;
}
